{% extends 'base.html.twig'%}

{% block h1 %}Ecommerce{% endblock %}

{% block body %}

    <h2>Bonjour {{prenomTwig}}</h2>
    {#{{ dump(prenomTwig)}}#}

    <img src="{{asset('images/magie.jpg')}}" alt="" class="img500px" >

{% endblock %}